@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Big+Shoulders+Display:wght@700&family=Karla&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Poppins:wght@100;200;300;400;600;700&family=Raleway:wght@300&family=Red+Hat+Display:wght@900&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,900;1,400&family=Spartan:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url("./images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__logo {
    width: 120px;
    height: 36px;
    margin-bottom: 16px;
}
.page__storage-manager {
    background-color: hsl(228, 56%, 26%);
    padding: 32px 80px 32px 32px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 8px;
}
.page__document {
    margin-right: 12px;
    padding: 8px 10px;
    background-color: #000;
    border-radius: 8px;
}
.page__folder {
    margin-right: 12px;
    padding: 10px 8px;
    background-color: #000;
    border-radius: 8px;
}
.page__upload {
    padding: 12px 8px;
    background-color: #000;
    border-radius: 8px;
}
.page__storage-bar {
    position: relative;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 12px;
    color: #fff;
    opacity: 0.8;
    font-weight: 200;
    background-color: hsl(228, 56%, 26%);
    padding: 32px 32px 32px 32px;
}
.page__word {
    font-weight: 700;
    opacity: 1;
}
.page__storage-min-max {
    display: flex;
}
.page__storage-max {
    margin-left: auto;
    font-weight: 700;
    font-size: 13px;
}
.page__storage-min {
    font-weight: 700;
    font-size: 13px;
}
.page__progress-bar {
    height: 14px;
    margin-top: 12px;
    margin-bottom: 6px;
    border: 2px solid black;
    border-radius: 20px; 
    z-index: 0;
}
.indi {
    position: absolute;
    width: 170px;
    height: 14px;
    margin-bottom: 6px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    z-index: 1;
}
.indicator {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 999px;
    right: 0;
    z-index: 2;
}
.page__storage-left {
    font-family: 'Poppins';
    color: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: 12px auto;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: 1000;
    width: 150px;
    padding: 12px 8px;
    border-radius: 12px;
    background-color: #fff;
}
.size {
    font-size: 14px;
    opacity: 0.6;
    vertical-align: middle;
}
@media (min-width: 830px) {
    .page {
        display: flex;
    }
    .page__storage-bar {
        width: 460px;
        right: 0;
        margin-left: 16px;
    }
    .indi {
        width: 380px;
    }
    .page__storage-left {
        margin: 0;
        bottom: 132px;
        left: 62%;
        border-bottom-right-radius: 0;
        z-index: 999;
    }
    .page__size-left::after {
        content: '';
        position: absolute;
        border-top: 20px solid #fff;
        border-left: 20px solid transparent;
        right: 0;
        top: 56px;
    }
}